body {
  background-color: black;
  color: lightgrey;
  font-family: "PT Sans", sans-serif;
}

h1 {
  padding: 10px;
  text-align: center;
  border: 2px #ba55d3 solid;
  border-radius: 50px;
}

.conteiner1 {
  text-align: center;
  padding: 10px;
}

#lista {
  text-align: center;
}

.contatos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.dc {
  margin: 0px 50px 0px 0px;
  padding: 5px;
  border-radius: 10px;
  padding-top: 9px;
  border: 2px #6495ed solid;
}

.dc:hover {
  transform: scale(1.05);
  transition: 0.6s;
}

.instagram {
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  padding-right: 2px;
  border-radius: 10px;
  border: 2px #ba55d3 solid;
}

.instagram:hover {
  transform: scale(1.05);
  transition: 0.6s;
}

.texto1 {
  margin: 0px 15px -10px;
  color: #6495ed;
}

.texto2 {
  margin: 7px;
  color: #ba55d3;
  padding-left: 0px;
}

.linha1 {
  padding: 5px;
  border: 1px #ba55d3 solid;
}

.conteiner2 {
  display: flex;
  justify-content: space-between;
}

.after {
  padding: 20px;
  flex-direction: row;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.perguntas {
  display: flex;
}
.email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  color: lightgrey;
  text-decoration: none;
  padding-top: 25px;
}
.marca {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(43, 43, 43);
  font-family: "Oswald", sans-serif;
  text-decoration: overline;
}
